* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background: pink;
  z-index: 9999;
  position: fixed;
  width: 100%;
}
.logo {
  font-size: 0.9rem;
  user-select: none;
}
.navbar-nav a {
  font-size: 0.6rem;
  font-weight: 600;
  margin-right: 20px;
  position: relative;
}
.navbar-nav a::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 2px;
  background-color: #000000;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s;
}
.navbar-nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  text-align: center;

  background-size: contain;
  background-position: center;
}
.img {
  width: 50%;
  margin-bottom: 50px;
}
